[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
pillow = "*"
pytube = "*"
selenium = "*"
speechrecognition = "*"

[dev-packages]

[requires]
python_version = "3.9"
